@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@500&display=swap');
.bigButton
{
	transition-duration: 0.2s;
	cursor: pointer;
	width: 25em;
	height: 5em;
	background: linear-gradient(180deg, #ff4444 -33.33%, #FA00FF 161.11%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	margin: 0 auto;
	color: white;
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	transform: translateY(100px);
}
.bigButton h1
{
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
	vertical-align: middle;
	line-height: 2.5em;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.bigButton:hover
{
	transition-duration: 0.2s;
	cursor: pointer;
	width: 25em;
	height: 5em;
	background: linear-gradient(180deg,  #FF0000 -33.33%, #FA00FF 161.11%);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	color: white;
	display: block;
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	transform: translateY(100px);
}
.bigButton:active
{
	transition-duration: 0.2s;
	cursor: pointer;
	width: 24.8em;
	height: 5em;
	background: linear-gradient(180deg,  #FF0000 -33.33%, #FA00FF 161.11%);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	color: white;
	display: block;
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	transform: translateY(100px);
}

.popupCard-big
{
	padding: 1.5em;
    margin: 5em;
	margin-left: 8em;
    position: absolute;
    height: 50%;
    width: 80vw;
    background-color: #383838;
    border-radius: 0.5em;
    z-index: 4;
    align-self: center;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: pink;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: magenta;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
